
body{
  margin: 0px;
  .app{
    display: flex;
    width:"100%";
 
    height: 100vh;
    .img2{
   background-color: aqua;
     width: 42%;}
    .img{
     position: fixed;
     width: 42%;
     height: 100%;
      img{
      width: 100%;
       height: 100%;
       }
    
    }
  }
.link{
  text-decoration: none;
  color: inherit;
}
  
}

@media only screen and (max-width:1230px){
  .img,.img2{
    display: none;
  }
  .home{
    width: 100%;
  }
}